header{
    text-align: right;
    padding: 20px 20px;
    font-size: 30px;
    border-bottom: 2px solid #eee;
    position: fixed;
    width:100%;
    z-index: 99;
    color: #fff;
    background-color: #4CAF50;
}

.alignMore{
    padding: 50px;
}